beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
py-notifier==0.1.1
pypiwin32==223
pywin32==303
requests==2.25.1
soupsieve==2.1
urllib3==1.26.2
win10toast==0.9
discord==2.3.2